<h1>About</h1>
<p>
  The Brew Moon Brewing Company is a completely independent craft brewery in Amberley, North Canterbury.<br/>
  Started in 2002 by Kieran McCauley and Belinda Gould the Brew Moon’s aim is to bring you flavoursome natural beer
  made locally by people who are passionate about good, sustainable local food products.
</p>
<p>
  It’s made right here.<br/>
  All Brew Moon beer is made at our tiny brewery just south of Amberley.<br/>
  If you look through the window from the café there’s a good chance you’ll see Belinda working on the latest brew.
  You can see most of our brewery from that window.
</p>
<p>
  The brew size is about 600L.<br/>
  Each batch is brewed and conditioned separately before being transferred to the chiller where the beer settles and clarifies naturally
  and the carbonation is adjusted.
</p>
<p>
  One of the most exciting things about beer is that in the right hands it can be a completely pure product,
  produced naturally without any preservatives or additives.
</p>
<p>
  What’s in a beer from the Brew Moon

  Malt: Our malt is good Canterbury barley grown and malted at Dunsandal by Doug and Gabby Michael and Simon Bretherton from Gladfield Malt. We use some imported “speciality” malts in our beers but Gladfield is expanding its maltings so we are hoping that soon our beers will be made with 100% local malt. Malting is an age-old technique where the grains are soaked in water and begin to sprout. This activates enzymes in the barley kernel that change the starches in the grain to sugars. At this point the maltser dries and roasts the malt to give the desired flavours. The resulting product is the malted grain we use in our beer. The night before we brew we mill the malt by crushing it so that the natural sugar can be extracted during the brewing.

  Water: Our water comes from our well behind the brewery – its untreated and unfiltered and it tastes great. You can taste it if you visit the Brew Moon Café – just in front of the brewery at Amberley.

  Hops: Our hops are sourced from Hops NZ in Motueka, Nelson.

  Yeast: Single celled organisms that change sugar to alcohol are the quiet workers behind all alcoholic beverages, bread, vinegar, sauerkraut, and all sorts of wonderful sauces including soy to name just a few fermented products. Yeast is a great source of Vitamin B – it’s natural and it does a great job. Most beers in the world are made with cultured yeast and ours are no exception, although it would be exciting to try a wild yeast Lambic style beer (a sort of sour dough ale) but we will leave that for a while.

  That’s it – our beers are gently carbonated, not too alcoholic (4-6%) health giving beverages, chock full of vitamin B and good natural flavour. They aren’t filtered or pasteurised and they don’t contain preservatives – how many drinks can you say that about?

</p>
