<h1>Brewing</h1>
<div>
    <p>
      One of the most exciting things about beer is that in the right hands it can be a completely pure product, produced naturally without any preservatives or additives.
    </p>
</div>
<div>
    <p>
      The brew size is about 600L.<br/> Each batch is brewed, conditioned and kegged or bottled separately.
    </p>
</div>
<div>
    <p>
      What’s in our beer?
    </p>
    <p class="prepend-top">
      <strong>Malt:</strong> Our malt is good Canterbury barley grown and malted at Dunsandal by Gladfield Malt. We use some imported “speciality” malts in our beers but Gladfield is expanding its maltings so we are hoping that soon our beers will be made with 100% local malt. Malting is an age-old technique where the grains are soaked in water and begin to sprout. This activates enzymes in the barley kernel that change the starches in the grain to sugars. At this point the maltser dries and roasts the malt to give the desired flavours. The resulting product is the malted grain we use in our beer. The night before we brew we mill the malt by crushing it so that the natural sugar can be extracted during the brewing.
    </p>
    <p class="prepend-top">
      <strong>Water:</strong> Our water comes from our well behind the brewery – it’s untreated and unfiltered and it tastes great. You can taste it if you visit the Brew Moon Café – just in front of the brewery at Amberley.
    </p>
    <p class="prepend-top">
      <strong>Hops:</strong> Our hops are sourced from Hops NZ in Motueka, Nelson.
    </p>
    <p class="prepend-top">
      <strong>Yeast:</strong> Single celled organisms that change sugar to alcohol are the quiet workers behind all alcoholic beverages, bread, vinegar, sauerkraut, and all sorts of wonderful sauces including soy to name just a few fermented products. Yeast is a great source of Vitamin B – it’s natural and it does a great job. Most beers in the world are made with cultured yeast and ours are no exception, although it would be exciting to try a wild yeast Lambic style beer (a sort of sour dough ale) but we will leave that for a while.
    </p>
</div>
<div>
    <p>
      That’s it – our beers are gently carbonated, not too alcoholic (4-6%) health giving beverages, chock full of vitamin B and good natural flavour. They aren’t filtered or pasteurised and they don’t contain preservatives –
      <span class="bigger-text"> how many drinks can you say that about?</span>
    </p>
</div>
<hr class="narrow"/>
<div>
    <h1 >Here’s how we brew our beer</h1>
</div>
