<h1>Brew Moon Café</h1>
<p>
    The Brew Moon Café was started by Kieran and Belinda alongside the brewery in 2002. In 2004 when the café was established Kieran and Belinda sold it so they could concentrate on brewing.
</p>
<div>
    <p>
      The café is now owned and run by Paula Harris.<br/>
      For more information please visit <%= link_to "brewmooncafe.co.nz", 'http://www.brewmooncafe.co.nz', :target => '_blank' %> it has all the information you'll need and much more.<br/>
      Or contact by phone (64) 03 314 8030
    </p>
</div>




