<h1>Home</h1>
<%= image_tag("beer_and_brew.JPG", :class => "square-img float-right") %>
<p>
  The Brew Moon Brewing Company is a completely independent craft brewery in Amberley, North Canterbury. Started in 2002 by Kieran McCauley and Belinda Gould. The Brew Moon’s aim is to bring you flavoursome natural beer made locally by people who are passionate about good, sustainable, local food products.
</p>
<p class="prepend-top">
  <span class="green-glow">Environmental responsibility</span> and <span class="green-glow">sustainability</span> are very important to us and in this (and all other things!) we are in a state of constant improvement. We’re very pleased that our bottles are now made in New Zealand so please pop them into your recycling and we’ll use them again one day in the future.
</p>
<p class="prepend-top">
  We brew and bottle all our beer in the micro brewery at the Brew Moon Garden Café – you can enjoy a beer in the café while watching a new beer being created.
</p>
<p class="prepend-top">
  We use the best possible local ingredients – most our malt is from Canterbury, our hops are from Nelson and our water comes from our own well.
</p>
<p class="prepend-top">
  Our beers really are handcrafted and naturally brewed - they are not filtered or pasteurised so you get all the flavour and health benefits.
</p>
<h3 class="prepend-top">
  Brew Moon – True Brew!
</h3>