<h1>Home</h1>
<p>
  The Brew Moon Brewing Company is a completely independent craft brewery in Amberley, North Canterbury.<br/>
  Started in 2002 by Kieran McCauley and Belinda Gould the Brew Moon’s aim is to bring you flavoursome natural beer
  made locally by people who are passionate about good, sustainable local food products.
</p>