<h1>Buy It Directly From Us</h1>
<div>
    <p>If you want to order a case or more of our beer you can buy it direct from us and we'll put it on a courier to you.</p>
</div>
<div>
    <p>Email us with your order and we'll confirm the price and ship the beer<br/>brewer@brewmoon.co.nz</p>
</div>
<div>
  <p>Here are the direct prices:</p>
  <table class="prepend-1">
    <tr>
      <td><strong>Amberley Pale Ale</strong></td>
      <td>500ml  bottle</td>
      <td>case of 12</td>
      <td>$84.00</td>
    </tr>
    <tr>
      <td><strong>Broomfield Brown Ale</strong></td>
      <td>500ml  bottle</td>
      <td>case of 12</td>
      <td>$84.00</td>
    </tr>
    <tr>
      <td><strong>Dark Side (of the Moon) Stout</strong></td>
      <td>500ml  bottle</td>
      <td>case of 12</td>
      <td>$90.00</td>
    </tr>
    <tr>
      <td><strong>Hophead Organic IPA</strong></td>
      <td>500ml  bottle</td>
      <td>case of 12</td>
      <td>$96.00</td>
    </tr>
  </table>
  <p>Price include courier to your door, but not on rural delivery<br/>(send it to your mother and hope she doesn't drink it)</p>
</div>
<div>
    <h1>The Brew Moon Café</h1>
    <p>Come and visit us in the Brew Moon Garden Café, on State Highway 1 - just south of Amberley and taste our beer there - you can buy in single bottles or fresh on tap.<br/>
    You can find more details in our <%= link_to "café page", cafe_path %></p>
</div>
<div>
    <h1>Retail Outlets</h1>
    <p>You can also find our beer in retail stores all around New Zealand, <br/> here's a list of them:</p>
    <table class="prepend-1">
      <tr>
        <td>Lincoln Vineyards Ltd</td>
        <td>Auckland</td>
      </tr>
      <tr>
        <td>Liquorland - Forrest Hill</td>
        <td>Auckland</td>
      </tr>
      <tr>
        <td>Liquorland - Mt Eden</td>
        <td>Auckland</td>
      </tr>
      <tr>
        <td>Merchants of Venice</td>
        <td>Auckland</td>
      </tr>
      <tr>
        <td>New World Victoria Park</td>
        <td>Auckland</td>
      </tr>
      <tr>
        <td>Village Winery</td>
        <td>Auckland</td>
      </tr>
      <tr>
        <td>New World</td>
        <td>Blenheim</td>
      </tr>
      <tr>
        <td>Fresh Choice Barringtons</td>
        <td>Christchurch</td>
      </tr>
      <tr>
        <td>Fresh Choice Parklands</td>
        <td>Christchurch</td>
      </tr>
      <tr>
        <td>New World South City</td>
        <td>Christchurch</td>
      </tr>
      <tr>
        <td>Super Liquor - Brougham St</td>
        <td>Christchurch</td>
      </tr>
      <tr>
        <td>Castle Macadam Wines</td>
        <td>Dunedin</td>
      </tr>
      <tr>
        <td>New World Centre City</td>
        <td>Dunedin</td>
      </tr>
      <tr>
        <td>Tonic Bar</td>
        <td>Dunedin</td>
      </tr>
      <tr>
        <td>Dunsandel Store</td>
        <td>Dunsandel</td>
      </tr>
      <tr>
        <td>Ussco Bar & Bistro</td>
        <td>Gisborne</td>
      </tr>
      <tr>
        <td>Liquorland - Eastside</td>
        <td>Hamilton</td>
      </tr>
      <tr>
        <td>The Beer Store</td>
        <td>Hamilton</td>
      </tr>
      <tr>
        <td>New World Greenmeadows</td>
        <td>Napier</td>
      </tr>
      <tr>
        <td>Fresh Choice</td>
        <td>Nelson</td>
      </tr>
      <tr>
        <td>Fresh Choice Richmond</td>
        <td>Nelson</td>
      </tr>
      <tr>
        <td>New World</td>
        <td>Rangiora</td>
      </tr>
      <tr>
        <td>Fresh Choice</td>
        <td>Te Anau</td>
      </tr>
      <tr>
        <td>Cellar Room Karori</td>
        <td>Wellington</td>
      </tr>
      <tr>
        <td>Centre City Wines</td>
        <td>Wellington</td>
      </tr>
      <tr>
        <td>New World Thorndon</td>
        <td>Wellington</td>
      </tr>
      <tr>
        <td>Regional Wines & Spirits</td>
        <td>Wellington</td>
      </tr>
      <tr>
        <td>Rumbles Wine Merchants</td>
        <td>Wellington</td>
      </tr>
      <tr>
        <td>The Hop Garden</td>
        <td>Wellington</td>
      </tr>
    </table>
</div>
