<h1>The Brew Team</h1>
<%= image_tag("belinda.JPG", :class => "square-img float-right") %>
<p>
  <strong>Belinda Gould</strong>
</p>
<p>
  Owner and current brewer. Belinda was a wine maker for many years which contributed to her love of good beer (it takes a lot of great beer to make a good wine!) Belinda has worked as a winemaker in Europe, NZ and the USA. It was while Belinda and Kieran were living in California that they became really interested in brewing. They returned to NZ in 2000 and started the Brew Moon 2 years later. Belinda was the winemaker at Muddy Water from 2000 until the winery was sold to another winery in 2011 so she decided to resign and follow her brewing passion. Self employment is pretty attractive too. Belinda is now the “Brewster” (female brewer – traditionally beer was always brewed by women).
</p>
<div>
    <%= image_tag("kieran.JPG", :class => "square-img float-right") %>
    <p>
      <strong>Kieran McCauley</strong>
    </p>
    <p>
      Owner and head brewer from 2002 – 2011. Kieran enjoys brewing but he really loves mucking around with horses and cattle. Because he couldn’t fit everything in Kieran graciously let Belinda take over the brewing in July 2011. Kieran helps out by sharing his experience – in return for the odd beer!
    </p>
</div>
