/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html, body {
    font-family: Tempus Sans ITC;
    color: white;
}

body{
    /*background: url("border_piece_white.jpg") repeat scroll 0 0 #F5F6F7;*/
    background: url("B & W logo2.jpg") no-repeat center top;
}

.container {
    background-color: black;
    border-radius: 6px;
    border-style: ridge;
    border-width: 2px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 1);
    margin-top: 170px;
    margin-bottom: 20px;
    padding: 20px;
}

h1{
    color: white;
}

h2{
    font-size:26px;
}

h3{
    color: white;
    font-size:30px;
    text-align: center;
}

.text-left{
        text-align: left;
}

.text-right{
        text-align: right;
}

.text-center{
        text-align: center;
}

.float-left{
        float: left;
        margin-right:10px;
}

.float-right{
        float: right;
        margin-left:10px;
}

.green-glow{
    color: #0c0;
    text-shadow: -1px 1px 8px green, 1px -1px 8px #0c0;
    font-size:110%;
}

.blue-glow{
    color: #06f;
    text-shadow: -1px 1px 8px blue, 1px -1px 8px #06f;
}

hr{
    background: url("border_horisontal.jpg");
    height: 10px;
    border: 0;
}

<!--[if IE]>
 hr {
    display : list-item;
    list-style : url(border_horisontal.jpg) inside;
    filter : alpha(opacity=0);
    margin-left: -10px;
    width : 0;
     height: 10px;
  }
<![endif]-->

/*Header Styles*/
/*Heroku doesnt accepts the dedicated header.css.scc file*/

a{
    font-size: 26px;
    color: white;
    text-decoration: none;
}

ul li{
    display: inline;
    margin-right: 5px;
    font-size: 28px;
}

ul{
    margin: 0px;
}

hr{
    margin:0px;
}

/*Footer Styles*/
/*Heroku doesnt accepts the dedicated footer.css.scc file*/

.footer-text{
        font-size: 16px;
        /*margin-bottom:-5px;*/
}

.jinjer-link{
    color:orange;
    text-decoration: none;
    font-size: 16px;
}


