/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html, body {
height: 96%;
}

body{
    /*background: url("border_piece_white.jpg") repeat scroll 0 0 #F5F6F7;*/
    background: url("B & W logo.jpg");
}

.container {
    background-color: black;
    border-radius: 6px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 1);
    margin-top: 10px;
    padding: 20px;
    min-height: 100%;
    position: relative;
}

#footer{
    position: absolute;
    bottom: 0px;
    text-align: right;
}

#logo { max-width:100%; }

a{
    color: white;
    font-family: Tempus Sans ITC;
    font-size: 26px;
    text-decoration: none;
}

.navigation_list li{
    display: inline;
    margin-right: 5px;
    color: white;
    font-family: Tempus Sans ITC;
    font-size: 28px;
}

.navigation_list{
    margin: 0px
}

hr{
    background: url("border_horisontal.jpg");
    height: 10px;
    border: 0;
    margin: 0px;
}

<!--[if IE]>
 hr {
    display : list-item;
    list-style : url(border_horisontal.jpg) inside;
    filter : alpha(opacity=0);
    margin-left: -10px;
    width : 0;
     height: 10px;
     margin: 0px;
  }
<![endif]-->
