/*footer{*/
        /*p.footer-text{*/
                /*font-size: 16px;*/
                /*text-align: center;*/
                /*margin-bottom:-5px;*/
        /*}*/
/*}*/

.footer-text{
        font-size: 16px;
        text-align: center;
        margin-bottom:-5px;
}
