header{

    a{
        font-size: 26px;
        color: white;
        text-decoration: none;
    }

    ul li{
        display: inline;
        margin-right: 5px;
        font-size: 28px;
    }

    ul{
        margin: 0px;
    }

    hr{
        margin:0px;
    }

}

