// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages{
    p{
        font-size: 20px;
    }

    .bigger-text{
        font-size:120%;
    }

    .narrow{
        width:50%;
    }

    .square-img{
        /*width: 200px;*/
        border-radius: 6px;
        border-style: outset;
        border-width: 2px;
        box-shadow: 0 1px 10px white;
    }

    .beer-order-link{
        float: right;
    }

    table{
        font-size: 20px;

        tr:nth-child(odd) td {
            background-color:transparent;
        }

        tr:nth-child(even) td {
            background-color:transparent;
        }
    }

}


