// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages{
    h1{
        color: white;
    }

    h3{
        color: green;
    }

    .highlight-text{
        color: green;
    }

    h4{
        color: white;
        font-size:30px;
    }

    p{
        font-size: 20px;
    }

    .beer-img{
        float: left;
        margin-right:10px;
    }

    .beer-order-link{
        float: right;
    }
}


