// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages{
    p{
        font-size: 20px;
    }

    .bigger-text{
        font-size:120%;
    }

    .narrow{
        width:50%;
    }

    .beer-img{
        float: left;
        margin-right:10px;
    }

    .beer-order-link{
        float: right;
    }

    table{
        font-size: 20px;

        tr:nth-child(odd) td {
            background-color:transparent;
        }

        tr:nth-child(even) td {
            background-color:transparent;
        }
    }

}


