<header>
  <nav class="round">
    <hr/>
      <%= render(:partial => "/refinery/menu", :locals => {
                   :dom_id => 'menu',
                   :css => 'menu'
                 }) %>
    <hr/>
  </nav>
</header>