<div>
  <%= link_to logo, root_path %>
</div>
<!-- <div class="Notice_board box">
  <h2 class="board_header">The Notice Board</h2>
  <ul>
    <li>
      Our online special:<br/>
      We will pay the courier to deliver the beer to your door.
    </li>
    <li>
      A 12 pack for only $84.<br/>
      And the organic hophead:<br/>
      for only $96.
    </li>
  </ul>
</div> -->