<div>
  <%= link_to logo, root_path %>
</div>
<div class="Notice_board box">
  <h2 class="board_header">The Notice Board</h2>
  <ul>
    <li>
      Our online special:<br/>
      A 12 pack of your faivorite beer for only $30.
    </li>
    <li>
      And the large special:<br/>
      5 x 12 pack for only $130.
    </li>
  </ul>
</div>